*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    height: auto;
    min-height: 300px;
    width:500px;
    margin-left:400px;
    background-color:burlywood;
    border-radius: 20px;
    margin-top:40px;
    padding-bottom: 20px;
}
#inputtask{
    height:50px;
    width:370px;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 10px;
}
#button{
    background-color: red;
    width:90px;
    height: 50px;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}
ul li{
    font-size: 30px;
    font-weight:900;
   padding: 12px 8px 12px 50px;
    list-style-type: none;
    cursor: pointer;
    position: relative;
    user-select: none;
}
h1{
   text-align: center;
   font-weight: bolder;
   padding: 20px;
}
#div1{
    background-color: white;
    border-radius: 10px;
    height: 100px;
    width: 300px;
    margin-left: 490px;
}

#image{
    margin-top:20px;
    height: 80px;
    width: 70px;
    margin-left: 10px;
}
span{
    position: absolute;
    left:460px;
    height: 40px;
    text-align: center;
    width: 35px;
    font-size: 40px;
    border-radius: 50%;
}
 ul li::before{
    content: '';
    height: 28px;
    width: 28px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 10px;
    background-image: url(images/unchecked.png);
    background-color: white;
    background-size: cover;
    background-position: center;

}
ul li.checked{
    text-decoration: line-through;
}
ul li.checked::before{
    font-weight: 600;
    background-image: url(images/checked.png);
}
span:hover{
    background-color: rgb(145, 144, 144);
}